<div class="d-flex justify-content-center mt-2 mb-2 discover">
    <h4>Discover more flight offers for holidays</h4>
</div>
    <div>
        <div class="container d-flex justify-content-lg-around">
            <div class="row little-ads">
                <div class="col-lg-4 pe-5">
                    <p><i class="fa-solid fa-check"></i> Stay tuned with the latest deals available!</p>
                </div>
                <div class="col-lg-4 pe-5">
                    <p><i class="fa-solid fa-check"></i> Get exclusive promo codes and discounts.</p>
                </div>
                <div class="col-lg-4">
                    <p><i class="fa-solid fa-check"></i> Save up to €300 on accommodation</p>
                </div>
            </div>
        </div>
    </div>
<section class="subscribe-area pb-50 pt-70">
    <div class="container">
     <div class="row">
        <div class="col-md-4">
             <div class="subscribe-text mb-15">
                <span>JOIN OUR NEWSLETTER</span>
                 <h2>subscribe newsletter</h2>
            </div>
        </div>
         <div class="col-md-8">
             <div class="subscribe-wrapper subscribe2-wrapper mb-15">
                <div class="subscribe-form">
                    <form action="#">
                        <input class="email mb-2" placeholder="enter your email address" type="email">
                        <button>subscribe <i class="fas fa-long-arrow-alt-right"></i></button>
                    </form>
            </div>
            </div>
        </div>
    </div>
 </div>
</section>