<app-navigation></app-navigation>
<!-- <app-header></app-header> -->
<div id="carouselExampleAutoplaying" class="carousel slide main-header mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/460537/pexels-photo-460537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1579253/pexels-photo-1579253.jpeg?auto=compress&cs=tinysrgb&w=1600" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/2507007/pexels-photo-2507007.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
  </div>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
            <h2>Your One-Stop Travel Hub!</h2>
            <h5 class="word2 mb-4"> Are you ready to elevate your travel experience?</h5>
            <p class="pt-2">At Travel-Ease, we're not just your go-to destination for finding the best flight deals, but we're also excited to introduce our powerful hotel search engine!</p>
            <p>With our hotel search engine we're committed to providing you with up-to-date information, ensuring you get the best value for your money, all based on customer review system. Here's what sets us apart:</p>

            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="advert shadow-effect">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h6>Affordability</h6>
                                    <i class="mini-icon fa-solid fa-sack-dollar"></i>
                                </div>
                                <i class="icon fa-regular fa-circle-check"></i>
                            </div>
                            <p>
                                Our platform is designed with budget-conscious travelers in mind. We continuously update our hotel listings to bring you the most pocket-friendly options. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="advert shadow-effect">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h6>Customer Satisfaction</h6>
                                    <i class="mini-icon fa-solid fa-thumbs-up"></i>
                                </div>
                                <i class="icon fa-regular fa-circle-check"></i>
                            </div>
                            <p>
                                Your comfort and satisfaction matter. Hotels are rated by fellow travelers, so you can trust their experiences and choose accommodations that meet your expectations. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="advert shadow-effect">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h6>Ease of Use</h6>
                                    <i class="mini-icon fa-solid fa-face-smile"></i>
                                </div>
                                <i class="icon fa-regular fa-circle-check"></i>
                            </div>
                            <p>
                                Finding the perfect hotel is a breeze with our user-friendly search engine. Simply input your preferences, and let our system do the work. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="advert shadow-effect">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <h6>Constant Updates</h6>
                                    <i class="mini-icon fa-solid fa-file-circle-check"></i>
                                </div>
                                <i class="icon fa-regular fa-circle-check"></i>
                            </div>
                            <p>
                                Our database is regularly updated with the latest deals and customer reviews, ensuring that you're always in the know.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 ps-3 mt-4">
            <img class="image" src="https://images.pexels.com/photos/1813467/pexels-photo-1813467.jpeg?auto=compress&cs=tinysrgb&w=6000" alt="">
        </div>
    </div>
</div>
<app-manage-booking-card></app-manage-booking-card>
<app-newsletter></app-newsletter>
<app-banner></app-banner>