<div class="container d-flex justify-content-center mb-5 mt-xxl-2">
    <div class="row pt-2 pb-2">
        <div class="col-lg-6 mt-3">
            <div class="container shadow-effect">
                <div class="row card-individual">
                    <div class="col-lg-1 me-3 mt-2">
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                    <div class="col-lg-10">
                        <h5 class="deal">Manage Booking</h5>
                        <p class="advert">Modify your reservation, cancel bookings, track flight status, and more.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="container shadow-effect">
                <div class="row card-individual">
                    <div class="col-lg-1 me-3 mt-2">
                        <i class="fa-solid fa-scale-balanced"></i>
                    </div>
                    <div class="col-lg-10">
                        <h5 class="deal">View Refound</h5>
                        <p class="advert">If you are waiting for any refound, check your application status.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>