<div class="footer text-center bg-footer-img">
    <div class="container">
        <div class="logo-footer">    
            <a class="logo navbar-brand text-uppercase fw-bold text-white" href="#"><i class="logo-icon fa-solid fa-plane-departure text-warning ms-5"></i> T-EASE</a>
        </div>
        <div class="links-footer">
            <span class="pe-lg-2"><a class="footer-link" href="#">Terms & conditions</a></span> |  <span class="pe-lg-2 ps-2"><a class="footer-link" href="#">Collaborations </a></span> | <span class="pe-lg-2 ps-2"><a class="footer-link" href="#">Privacy policy</a></span>
        </div>
        <div class="footer-content">
            <p><i class="fa-solid fa-circle-dot"></i> For more information, find more about our company at our F.A.Q page or write us an email if you have any questions.</p>
            <p><i class="fa-solid fa-circle-dot"></i> Air Travel tickets comparison was conducted by considering the fundamental taxes (excluding additional services) for flights with identical numbers. Usually, 9,000 flights are benchmarked on a monthly basis.</p>
            <p><i class="fa-solid fa-circle-dot"></i> Hotel comparison 
            is carried out and conducted monthly. This analysis encompassed accommodations in the top 100 esteemed destinations and the top 30 search results.</p>
            <p><i class="fa-solid fa-circle-dot"></i>  Prices from our website are in 4 out of 5 on average lower than other websites flights or hotel accommodations</p>
            <p><i class="fa-solid fa-circle-dot"></i> Travel Ease Headquarters, 126 Fulham Rd, London, United Kingdom, with VAT number 32. Registered in Commercial Register of U.K, Volume 432432, Sheet 332, Page F-559234. Travel Agency License G38KFHE8. IATA-accredited agent.</p>
            <p><i class="fa-solid fa-circle-dot"></i> Contact us immediately if you need to via email, contact page, or talk directly with one of our agents.</p>
            <p>&copy; TRAVEL-EASE 2023. All rights reserved.</p>
        </div>
    </div>


