    <div class="container mb-4">
            <div class="card shadow-effect">
              <img src="https://images.pexels.com/photos/161853/eiffel-tower-paris-france-tower-161853.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top" alt="Laptop" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
                  <p class="small text-danger"><s>$38</s></p>
                </div>
    
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">London - Paris</h5>
                  <h5 class="text-dark mb-0">$37</h5>
                </div>
    
                <div class="d-flex justify-content-between mb-2">
                  <p class="text-muted mb-0">Available: <span class="fw-bold">3</span></p>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
    </div>


    <div class="container mb-4">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/1004584/pexels-photo-1004584.jpeg?auto=compress&cs=tinysrgb&w=1600"
          class="card-img-top" alt="Laptop" />
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
            <p class="small text-danger"><s>$550</s></p>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <h5 class="mb-0">Frankfurt - Lisbon</h5>
            <h5 class="text-dark mb-0">$134</h5>
          </div>

          <div class="d-flex justify-content-between mb-2">
            <p class="text-muted mb-0">Available: <span class="fw-bold">4</span></p>
            <div class="ms-auto text-warning">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>   
</div>



<div class="container mb-4">
  <div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/12811784/pexels-photo-12811784.jpeg?auto=compress&cs=tinysrgb&w=1600"
      class="card-img-top" alt="Laptop" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
        <p class="small text-danger"><s>$1203</s></p>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">London - Tenerife</h5>
        <h5 class="text-dark mb-0">$340</h5>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="text-muted mb-0">Available: <span class="fw-bold">21</span></p>
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>   
</div>



<div class="container mb-4">
  <div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/161853/eiffel-tower-paris-france-tower-161853.jpeg?auto=compress&cs=tinysrgb&w=1600"
      class="card-img-top" alt="Laptop" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
        <p class="small text-danger"><s>$142</s></p>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">Dublin - Barcelona</h5>
        <h5 class="text-dark mb-0">$78</h5>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="text-muted mb-0">Available: <span class="fw-bold">8</span></p>
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>   
</div>



<div class="container mb-4">
  <div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/2614818/pexels-photo-2614818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      class="card-img-top" alt="Laptop" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
        <p class="small text-danger"><s>$602</s></p>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">Amsterdam - Tokyo</h5>
        <h5 class="text-dark mb-0">$242</h5>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="text-muted mb-0">Available: <span class="fw-bold">2</span></p>
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>   
</div>



<div class="container mb-4">
  <div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/421927/pexels-photo-421927.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="card-img-top" alt="Laptop" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
        <p class="small text-danger"><s>$399</s></p>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">Paris - New York</h5>
        <h5 class="text-dark mb-0">$239</h5>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="text-muted mb-0">Available: <span class="fw-bold">11</span></p>
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>   
</div>



<div class="container mb-4">
  <div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/105950/pexels-photo-105950.jpeg?auto=compress&cs=tinysrgb&w=600"
      class="card-img-top" alt="Laptop" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="small"><a href="#!" class="text-muted">Flights Tickets</a></p>
        <p class="small text-danger"><s>$1120</s></p>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <h5 class="mb-0">Liverpool - Florida</h5>
        <h5 class="text-dark mb-0">$319</h5>
      </div>

      <div class="d-flex justify-content-between mb-2">
        <p class="text-muted mb-0">Available: <span class="fw-bold">19</span></p>
        <div class="ms-auto text-warning">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
  </div>   
</div>




