<div class="container">
    <div class="row">
        <div class="col-lg-1 mt-5 advert">
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>
        <div class="col-lg-4 mt-5 advert">
            <h1 class="word1">UNBEATABLE </h1>
            <h1 class="word2">HOTTEST DEALS</h1>
            <h4 class="word3">Choose deals, save big, travel smart.</h4>
        </div>
        <div class="col-lg-7 search justify-content-end mt-5">
            <button class="btn-deal btn btn-outline-secondary ms-2">
                <span>Travellers</span><br> 
                <i class="icon-passanger fa-solid fa-user-large"></i> 
                <span class="number-passanger"> 1 </span>
                </button>
            <form class="form-inline">
                <input class="deal-finder" type="text" placeholder="Where from?" required>
            </form>
        </div>
    </div>
</div>