
<section style="background-color: #F2F2F2;">
    <div class="container py-5">
      <h2 class="mb-4 title">Discover the latest deals!</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img src="https://images.pexels.com/photos/1579253/pexels-photo-1579253.jpeg?auto=compress&cs=tinysrgb&w=1600"
              class="card-img-top img-ad" alt="Laptop" />
            <div class="card-body">
              <h5 class="title-ad">Found a great hotel?</h5>
              <div class="d-flex justify-content-between mb-3">
                <p class="mb-0">Check lowest-priced deals for the top hotels.</p>
              </div>
              <div class="d-flex justify-content-end">
                <p class="book-now mb-0">Book Now</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card">
              <img src="https://images.pexels.com/photos/4173099/pexels-photo-4173099.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top img-ad" alt="Laptop" />
              <div class="card-body">
                <h5 class="title-ad">Looking to rent a car?</h5>
                <div class="d-flex justify-content-between mb-3">
                  <p class="mb-0">View car rental offers!</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="book-now mb-0">Book Now</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top img-ad" alt="Laptop" />
              <div class="card-body">
                <h5 class="title-ad">Looking for a cheap flight?</h5>
                <div class="d-flex justify-content-between mb-3">
                  <p class="mb-0">Go to Flights ticket prices and find one.</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="book-now mb-0">Book Now</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.pexels.com/photos/674735/pexels-photo-674735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                class="card-img-top img-ad" alt="Laptop" />
              <div class="card-body">
                <h5 class="title-ad">Looking for Shuffle Rentals?</h5>
                <div class="d-flex justify-content-between mb-3">
                  <p class="mb-0">New in town? We got you!</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="book-now mb-0">Book Now</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.pexels.com/photos/697244/pexels-photo-697244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                class="card-img-top img-ad" alt="Laptop" />
              <div class="card-body">
                <h5 class="title-ad">Holiday Rentals available!</h5>
                <div class="d-flex justify-content-between mb-3">
                  <p class="mb-0">Check out our available Rentals!</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="book-now mb-0">Book Now</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.pexels.com/photos/3585093/pexels-photo-3585093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                class="card-img-top img-ad" alt="Laptop" />
              <div class="card-body">
                <h5 class="title-ad">Traveling first time as student?</h5>
                <div class="d-flex justify-content-between mb-3">
                  <p class="mb-0">If you are a student sign up for rewards!</p>
                </div>
                <div class="d-flex justify-content-end">
                    <p class="book-now mb-0">Book Now</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>





  