<section class="all">
<div class="jumbotron jumbotron-fluid banner">
    <div class="container text-center d-flex flex-column justify-content-center align-items-center h-100">
        <div class="row mb-5">
            <div class="col-lg-4 order-lg-1 order-2">
                <hr class="pb-3">
                <i class="fa-solid fa-plane"></i>
                <h3>Amazing flights prices</h3>
                <p>"Unbelievable flight prices: Discover your dream destinations without breaking the bank. Explore the world for less with our amazing deals."</p>
            </div>
            <div class="special col-lg-4 order-lg-2 order-1">
                <h2 class="text-center mb-2">Why trust Travel-Ease?</h2>
                <i class="fa-solid fa-address-card"></i>                
                <h3>Student friendly</h3>
                <p>"For students and our loyal customers, enjoy exclusive discounts and special offers. Plus, experience the convenience of getting the cheapest flights!"</p>
            </div>
            <div class="col-lg-4 order-lg-3 order-3">
                <hr class="pb-3">
                <i class="fa-solid fa-phone"></i>
                <h3>24|7 Support</h3>
                <p>"Experience peace of mind with our 24/7 customer support. We're here for you, anytime, anywhere, making your journey worry-free."</p>
            </div>
        </div>
    </div>
</div>

<div class="container advert-banner">
    <div class="row mt-5 mb-5">
        <div class="col-lg-3 pb-2">
            <h5>Mobile app coming soon!</h5>
            <p>Stay tuned for our upcoming mobile app! Your one-stop shop for booking flight tickets on the go. Coming soon, don't miss out!</p>
            <div class="phone-icons">
                <i class="fa-solid fa-mobile-screen-button pe-2"></i>
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <i class="fa-brands fa-google-play"></i>
                <i class="fa-brands fa-apple"></i>
            </div>
        </div>
        <div class="col-lg-3 pb-2">
            <h5>Follow us and collect offers!</h5>
            <p>Follow us on social media for exclusive flight offers and discounts! Join us on our journey to bring you amazing deals!</p>
            <div class="social-media-icons">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-square-pinterest"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="col-lg-3 pb-2">
            <h5>Students customers rewards</h5>
            <p> For our loyal customers, a world of rewards awaits! Enjoy exclusive student discounts and perks as a token of our gratitude. We're always dedicated to giving back to our valued customers." </p>
        </div>
    </div>
</div>
</section>