<app-navigation></app-navigation>
<div class="container mx-auto p-8 main">
  <div class="mainColor text-white p-5 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold uppercase tracking-wide">Manage Your Bookings</h2>
    <p class="mt-2">Welcome! Please <span class="font-bold underline logIn" routerLink="/login">log in</span> to view your recent, current, or past bookings.</p>
  </div>
  
  <div class="mt-8 p-5 bg-white rounded-lg shadow-lg">
    <h3 class="text-xl font-semibold">New to Travel-Ease?</h3>
    <p>Creating an account not only helps you find better flights but also keeps you on track with your travel plans, past, present, and future. Benefit from personalized deals and a smoother booking experience by signing up today!</p>
    <div class="mt-4 flex justify-start">
      <a href="http://localhost:4200/register" class="mainColor hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
        Sign Up
      </a>
      <a href="http://localhost:4200/login" class="ml-4 mainColor hover:bg-gray-400 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
        Log In
      </a>
    </div>
  </div>
</div>
