
<app-navigation></app-navigation>
<div class="bg-gray-100">
    <div class="relative bg-gray-100">
        <div class="bg-cover bg-center h-96 text-white py-24 px-10 relative" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/5098043/pexels-photo-5098043.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
          <div class="md:w-1/2">
            <p class="font-bold text-sm uppercase">Services</p>
            <p class="text-3xl font-bold">Introducing Shuffle Transport</p>
            <p class="text-2xl mb-10 leading-none">A Glimpse into the Future</p>
          </div>  
        </div>
      </div>

    <div class="container mx-auto px-6 py-10">
      <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">In progress & Coming Soon</h2>
      <p class="mt-2 text-gray-600 mb-8">The most exciting addition to our suite of services is shuffle transport, a groundbreaking solution designed to make local transportation upon arrival as smooth as possible. Currently under development, this service promises to seamlessly bridge the gap between your point of arrival and your accommodation or next destination. Whether it's from the airport to your hotel or between any local points of interest, shuffle transport will ensure that you have a reliable, comfortable, and efficient transportation option waiting for you.</p>
      <p class="mt-2 text-gray-600">Shuffle transport will offer various options to suit every traveler's needs, from shared shuttles for those looking for cost-effective solutions to private cars for guests preferring exclusivity and luxury. This service is being developed with your safety, comfort, and convenience in mind, ensuring that every journey with Travel-Ease is stress-free.</p>
  
      <div class="text-center mt-12">
        <h3 class="text-2xl text-gray-800 font-bold">Be Part of the Revolution</h3>
        <p class="mt-4 text-gray-600">As we fine-tune our shuffle transport service, we're excited to offer you a sneak peek into the future of travel. Stay tuned for updates and be among the first to experience this innovative service, destined to transform how you move from point A to B. With Travel-Ease, embark on a journey where every detail is meticulously taken care of, promising you not just a trip, but an experience.</p>
        <p class="mt-8">
          <a href="#" class="text-white font-bold py-2 px-4 rounded-full btn">Join us</a>
        </p>
      </div>
    </div>
  </div>
  